.c{
    justify-content: center;
    text-align: center;
    background-color: rgb(192, 216, 223);
    border-radius: 20px;
    border: solid 2px rgb(4, 131, 174);
    box-shadow:0px 4px 8px black ;
    width: 500px;
    height: 400px;
    padding: 10px;


    
}

h1{
    color: #e74c3c;
    font-family:Arial, Helvetica, sans-serif;
}
hr{
    margin: 15px;
    border: 1px solid rgb(4, 131, 174);
}
a{
    color:rgb(4, 131, 174) ;
    text-decoration: none;
}
img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
p
{
    color: #2c3e50;
}