footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
section::after {
  content: "";
  display: table;
  clear: both;}
  header{
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}