*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('photos/wallpaper.jpg');
  overflow-x: hidden;
  
}

main {
  flex: 1;
}
h1 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px white;
}
#recherche {
  float: right;
  padding: 1vh;
  margin-top: -3vh;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(121, 40, 40);
  margin-top: -4.3vh;
  color: #ffffff;
  padding-left: 15vh;
}
#recherche::placeholder {
  color: #ffffff;
  font-size: large;
}
#recherche:focus {
  outline: none;
  
}

/* Navigation Bar */

.navigation {
  background-color: rgb(121, 40, 40);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}
.navigation ul li{
  padding: 1vh 2vh;
  border-radius: 5px;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3vh;
  cursor: pointer;
  font-size: large;
  color: #fff;
  margin-top: 2vh;
  margin-left: 2vh;
  font-weight: bold;
}
.navigation ul li:hover {
  background-color: rgb(87, 26, 26);
}
.navigation ul li a{
  text-decoration: none;
  color: white;
}
.navigation ul li {
  position: relative;
  display: inline-block
}
.navigation ul li a:active{
  color: red;
}
#best-seller  {
  background-image: url('photos/wallpaper.jpg');
  padding: 3vh 0;
}
#best-seller h1 {
  margin-bottom: 3vh;
}

/* Container for articles */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  flex-wrap: wrap;
  padding: 2vh;
}
.container article {
  background-color: rgb(121, 40, 40);
  padding: 3vh;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  height: 40vh;
  transition: transform 0.6s ease;
}
.container article:hover {
            transform: translateY(-15px);
            
}
.container article:hover img {
            transform: scale(1.1);
            transition: transform 0.6s ease;
}
.container article img{
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.6s ease;
}
.container article span{
  display: block;
  text-align: center;
  margin-top: 1vh;
  color: #ffffff;
}
.container article hr{
  margin-bottom: 1vh;
  border: none;
  border-top: 2px solid rgb(141, 73, 73);
}
.container article p{
  text-align: center;
  font-size: 14px;
  color: #af9494;
}
.container article button{
  display: block;
  margin: 1vh auto 0 auto;
  padding: 10px 20px;
  background-color: rgb(87, 26, 26);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.container article button:hover{
  transform: scale(1.05);
  transform-origin: center;
}
.container article button:active {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

/* Products navigation */

#products {
  background-image: url('photos/wallpaper.jpg');
  padding: 3vh 0;
}
#products h1 {
  margin-bottom: 3vh;
}

#products div ul {
  list-style: none;
  background-color: rgb(121, 40, 40);
}
#products div ul li{
  display: inline-block;
  position: relative;
}
#products div ul li a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px 25px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#products div ul li a:hover{
  background-color: rgb(87, 26, 26);
}
#products div ul li ul.dropdown li{
  display: block;
}
#products div ul li ul.dropdown{
  position: absolute;
  width: 100%;
  display: none;
  z-index: 999;
  display: none;
}
#products div ul li:hover ul.dropdown{
  display: block;
}
#power{
  margin-top: 19vh;
  color: rgb(121, 40, 40);
  text-shadow: 1px 2px 3px black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #120606;
  color: #ffffff;
}