* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: url('/photos/blue.jpg') no-repeat;
   background-size: cover;
   background-position: center;



}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    font-style: oblique;
}
.navigation a::after{
     content: '';
     position: absolute;
     left: 0;
     bottom: -6px;
     width: 100%;
     height: 2px;
     background: #fff;
     border-radius: 5px;
     transform-origin: right;
     transform: scaleX(0);
     transition: transform .5s; 
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);



}
.navigation .btnlogin-popup {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: #fff;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
.navigation .btnlogin-popup:hover {
    color: black;
   }
   
.navigation .btnlogin-popup:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
.navigation .btnlogin-popup:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }
   .main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #000;
    max-height: 550px;
    width: 450px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
  }
  
  /*checkbox to switch from sign up to login*/
  #chk {
    display: none;
  }
  
  /*Login*/
  .login {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .login label {
    margin: 25% 0 5%;
  }
  
  label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  .input {
    width: 100%;
    height: 40px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  /*Register*/
  .register {
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(5%);
    transition: .8s ease-in-out;
  }
  
  .register label {
    color: #000;
    transform: scale(.6);
  }
  
  #chk:checked ~ .register {
    transform: translateY(-60%);
  }
  
  #chk:checked ~ .register label {
    transform: scale(1);
    margin: 10% 0 5%;
  }
  
  #chk:checked ~ .login label {
    transform: scale(.6);
    margin: 5% 0 5%;
  }   
  /*Button*/
  .form button {
    width: 85%;
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
  }
  
  .form button:hover {
    background-color: #6d44b8;
  }
.main .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #000000;
  font-size: 2em;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.footer-container{
  height: 25px ;
  width: 100%;
  bottom: 0;
  position: fixed;
  background: linear-gradient(rgb(35, 54, 77));
}
